<% title "Change My Password" %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%# not being used %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, :autocomplete => "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :current_password %>
    <span class="hint">we need your current password to confirm your changes</span><br>
    <%= f.password_field :current_password %>
  </div>

  <%= submit 'Change Password' %>

<% end %>

<p><%= link_to 'Cancel', :back %></p>