<%= form_for @user do |f| %>

  <%= render 'shared/errors', thing: @user %>

  <%= start_cols %>

  <fieldset>
    <legend>Name</legend>
    <%= f.text_field :fname, placeholder: 'First' %><br>
    <%= f.text_field :lname, placeholder: 'Last' %>
  </fieldset>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %><br>
    <%= f.phone_field :phone %>
  </div>

  <%= next_col %>

  <%= render 'shared/address_form', f: f %>

  <%= end_cols %>

  <% if Ward.any? %>
    <fieldset>
      <legend>Wards I am Interested In</legend>
      <%= hidden_field_tag "user[ward_ids][]" %>
      <% Ward.all.each do |ward| %>
        <div>
          <%= check_box_tag "user[ward_ids][]", ward.id, @user.ward_ids.include?(ward.id), id: "ward_#{ward.id}" %>
          <label for="<%= "ward_#{ward.id}" %>"><%= ward.name %></label>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <%= cancel %>
  <%= submit 'Save Profile' %>

<% end %>