<%= start_cols %>

<fieldset>
  <legend>How do you want to participate in Not Far From the Tree?</legend>
  <label style="margin:0 0.7em"><%= f.check_box  :participate_in_picks %> I want to participate in NFFTT picks</label>
  <label style="margin:0 0.7em"><%= f.check_box  :add_trees %> I want to add trees to NFFTT's tree database</label>
</fieldset>

<fieldset>
  <legend>Name <%= required %></legend>
  <%= f.text_field :fname, placeholder: 'First' %><br>
  <%= f.text_field :lname, placeholder: 'Last' %>
</fieldset>

<div class="field">
  <%= f.label :email %> <%= required %><br>
  <%= f.email_field :email %>
  <% if user.new_record? %>
    <br>
    <label style="font-weight:normal">
      <%= check_box_tag :add_to_mailing_list, true, false %>
      Subscribe me to the Not Far From The Tree mailing list
    </label>
  <% end %>
</div>

<% if user.new_record? %>
  <fieldset>
    <legend>Password  <%= required %></legend>
    <%= f.password_field :password, placeholder: 'password' %><br>
    <%= f.password_field :password_confirmation, placeholder: 'repeat password' %>
  </fieldset>
<% end %>

<div class="field">
  <%= f.label :phone %>  <%= required %><br>
  <%= f.phone_field :phone %>
</div>

<%= next_col %>

<script language="">
  $(document).ready(function () {
      $("[name='user[home_ward]']").change(function (evt) {
        var ward = evt.currentTarget.value;
        $("#ward_"+ward)[0].checked = true;
      });
  });
</script>
  <div>
    <%= f.label :home_ward, style: 'font-weight:normal' %>
    <%= f.collection_select :home_ward, Ward.all, :id, :name, include_blank: true %>
    <span class="hint"><%= link_to 'ward map', 'http://app.toronto.ca/wards/jsp/wards.jsp' %></span>
  </div>


<%= render layout: 'shared/address_form', locals: { f: f } do %>
  <div><%= f.check_box :snail_mail %> <%= f.label :snail_mail, style: 'font-weight:normal' %></div>
<% end %>

<%= end_cols %>

<% if Ward.any? %>
  <fieldset id="wards">
    <legend>My Wards</legend>
    <p class="hint">
      You will be invited by email to <%= Configurable.event.pluralize %> in the wards you select.<br>
      Wards in <span style="color:gray">grey</span> will have few/no <%= Configurable.event.pluralize %> this year, but may have more in the future.
    </p>
    <%= hidden_field_tag "user[ward_ids][]" %>
    <%= start_cols %>

    <%= start_cols %>
    <% Ward.all.each_with_index do |ward, i| %>
      <%= next_col if i % 22 == 0 %>
      <label<%= ' style="color:gray"'.html_safe unless ward.active? %>>
        <%= check_box_tag "user[ward_ids][]", ward.id, @user.ward_ids.include?(ward.id), id: "ward_#{ward.id}" %>
        <%= ward.name %>
      </label>
    <% end %>
    <%= end_cols %>

    <%= next_col %> 

    <a href="http://app.toronto.ca/wards/jsp/wards.jsp" style="display:block;text-align:right">
      <img src="http://www.toronto.ca/wards2000/images/wards_keymap.gif" width="602" height="334" alt="map of Toronto wards">
      <br>
      Check which ward you live in
    </a>

    <%= end_cols %>
  </fieldset>
<% end %>