<%= form_for @user do |f| %>

  <%= render 'shared/errors', thing: @user %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %><br>
    <%= f.phone_field :phone %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <%= f.submit 'Save Profile' %>

<% end %>