<%= form_for @user do |f| %>

  <%= render 'shared/errors', thing: @user %>

  <%= start_cols %>

  <fieldset>
    <legend>Name</legend>
    <%= f.text_field :fname, placeholder: 'First' %><br>
    <%= f.text_field :lname, placeholder: 'Last' %>
  </fieldset>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %><br>
    <%= f.phone_field :phone %>
  </div>

  <%= next_col %>

  <%= render layout: 'shared/address_form', locals: { f: f } do %>
    <div><%= f.check_box :snail_mail %> <%= f.label :snail_mail %></div>
  <% end %>

  <%= end_cols %>

  <% if Ward.any? %>
    <fieldset>
      <legend>Wards I am Interested In <span class="hint"><%= wards_link %></span></legend>
      <%= hidden_field_tag "user[ward_ids][]" %>
      <%= start_cols %>
      <%= start_cols %>
      <% Ward.all.each_with_index do |ward, i| %>
        <%= end_cols if i == 22 %>
        <%= next_col if i % 11 == 0 %>
        <%= start_cols if i == 22 %>
        <div>
          <%= check_box_tag "user[ward_ids][]", ward.id, @user.ward_ids.include?(ward.id), id: "ward_#{ward.id}" %>
          <label for="<%= "ward_#{ward.id}" %>"><%= ward.name %></label>
        </div>
      <% end %>
      <%= end_cols %>
      <%= end_cols %>
    </fieldset>
  <% end %>

  <%= cancel %>
  <%= submit 'Save Profile' %>

<% end %>