<%= start_cols %>

<fieldset>
  <legend>Name <%= required %></legend>
  <%= f.text_field :fname, placeholder: 'First' %><br>
  <%= f.text_field :lname, placeholder: 'Last' %>
</fieldset>

<div class="field">
  <%= f.label :email %> <%= required %><br>
  <%= f.email_field :email %>
  <% if user.new_record? %>
    <br>
    <label style="font-weight:normal">
      <%= check_box_tag :add_to_mailing_list, true, false %>
      Subscribe me to the Not Far From The Tree mailing list
    </label>
  <% end %>
</div>

<% if user.new_record? %>
  <fieldset>
    <legend>Password  <%= required %></legend>
    <%= f.password_field :password, placeholder: 'password' %><br>
    <%= f.password_field :password_confirmation, placeholder: 'repeat password' %>
  </fieldset>
<% end %>

<div class="field">
  <%= f.label :phone %>  <%= required %><br>
  <%= f.phone_field :phone %>
</div>

<%= next_col %>

<%= render layout: 'shared/address_form', locals: { f: f } do %>
  <div><%= f.check_box :snail_mail %> <%= f.label :snail_mail, style: 'font-weight:normal' %></div>
<% end %>

<%= end_cols %>

<% if Ward.any? %>
  <fieldset id="wards">
    <legend>My Wards<span class="hint"><%= wards_link %></span></legend>
    <p class="hint">
      You will be invited by email to events in the wards you select.<br>
      Wards in <span style="color:gray">grey</span> will have few/no picks this year, but may have more in the future.
    </p>
    <%= hidden_field_tag "user[ward_ids][]" %>
    <%= start_cols %>
    <%= start_cols %>
    <% Ward.all.each_with_index do |ward, i| %>
      <%= end_cols if i == 22 %>
      <%= next_col if i % 11 == 0 %>
      <%= start_cols if i == 22 %>
      <label<%= ' style="color:gray"'.html_safe unless ward.active? %>>
        <%= check_box_tag "user[ward_ids][]", ward.id, @user.ward_ids.include?(ward.id), id: "ward_#{ward.id}" %>
        <%= ward.name %>
      </label>
    <% end %>
    <%= end_cols %>
    <%= end_cols %>
  </fieldset>
<% end %>