<%= form_for @user do |f| %>

  <%= render 'shared/errors', thing: @user %>

  <div class="field">
    <%= f.label :name %> <span class="hint">public</span><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <span class="hint">shown only to Admins</span><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %> <span class="hint">shown only to Admins</span><br>
    <%= f.phone_field :phone %>
  </div>

  <div class="field">
    <%= f.label :description %> <span class="hint">public</span><br>
    <%= f.text_area :description %>
  </div>

  <%= f.submit 'Save Profile' %>

<% end %>