<% if can? :map, User %>
  <% content_for :header do %>
    <%= link_to 'Map', map_users_path %>
  <% end %>
<% end %>

<%= form_tag users_path, method: :get do %>
  <%= select_tag :role, options_for_select(Role.names.map{|n, v| Configurable.send(n).pluralize.titlecase}.unshift(['Everyone', nil]) << ['No roles', 'none'], @role) %>
  <% content_for :js_ready do %>
    $('select').change(function(){
      $(this).closest('form').submit();
    });
  <% end %>
  <%= text_field_tag :q, @q, placeholder: 'Name or email' %>
  <%= submit 'Search' %>
<% end %>

<%= link_to 'Export these users', users_path(format: 'csv' ) %>


<% if @users.any? %>
  <h2><%= pluralize @users.total_count, 'User' %></h2>
  <%= paginate @users %>
  <% switch_col = (@users.count/2) if @users.count > 5 %>
  <%= start_cols %>
  <ul class="users">
    <% @users.each_with_index do |user, i| %>
      <%= "</ul>#{next_col}<ul class=\"users\">".html_safe if defined?(switch_col) && switch_col == i %>
      <%= render 'user', user: user, tag: 'li' %>
    <% end %>
  </ul>
  <%= end_cols %>
  <%= paginate @users %>
<% else %>
  <p>No users found.</p>
<% end %>