<% if can? :map, User %>
  <% content_for :header do %>
    <%= link_to 'Map', map_users_path %>
  <% end %>
<% end %>

<%= form_tag users_path, method: :get do %>
  <%= select_tag :show_only, options_for_select(Role.names.map{|n, v| Configurable.send(n).pluralize.titlecase}.unshift(['Everyone', nil]) << ['No roles', 'roleless'] << ['No shows', 'no_shows'], @show_only) %>
  <% content_for :js_ready do %>
    $('select').change(function(){
      $(this).closest('form').submit();
    });
  <% end %>
  <%= text_field_tag :q, @q, placeholder: 'name or email' %>
  <%= submit 'Search' %>
<% end %>

<%= link_to 'Export these users', users_path(format: 'csv' ) %>


<% if @users.any? %>
  <h2><%= pluralize @users.total_count, 'User' %></h2>
  <%= paginate @users %>
  <%
     if @users.length > 5
      switch_col = @users.length / 2
      switch_col += 1 if @users.length.odd?
    end
  %>
  <%= start_cols %>
  <ul class="users">
    <% @users.each_with_index do |user, i| %>
      <%= "</ul>#{next_col}<ul class=\"users\">".html_safe if defined?(switch_col) && switch_col == i %>
      <%= render layout: 'user', locals: {user: user, tag: 'li'} do %>
        <% if @q.present? %>
          <%= user.email %>
        <% elsif @show_only == 'no_shows' %>
          Missed <%= pluralize user.no_show_count, 'event' %>.
        <% elsif !@show_only %>
          <%= user.roles.map {|r| Configurable.send(r.name).titlecase}.join ', ' %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <%= end_cols %>
  <%= paginate @users %>
<% else %>
  <p>No users found.</p>
<% end %>