<%
  tit = @user.display_name
  tit = "Inactive: #{tit}" if @user.roles.empty?
  title tit
%>

<% content_for :header do %>
  <% if can? :update, @user %>
    <%= link_to 'Edit', edit_user_path(@user) %>
  <% end %>
  <% if @user.id == current_user.id %>
    <%= link_to 'Change my password', edit_user_registration_path %>
    <% if @user.roles.any? && can?(:deactivate, @user) %>
      <%= link_to 'Deactivate my account', deactivate_user_path(current_user), method: :patch, data: {confirm: 'Are you sure you want to deactivate your account?'} %>
    <% end %>
  <% end %>
<% end %>

<%= image_tag @user.avatar('large'), size: '80x80', alt: 'profile photo', class: 'avatar' %>

<div id="roles">
  <%= 'Role'.pluralize @user.roles.count %>:
  <% if @user.roles.any? %>
    <%=
      @user.roles.map do |role|
        outp = Configurable.send(role.name).titlecase
        if can?(:destroy, role) && current_user.has_role?(:admin)
          outp += button_to 'x', role, method: :delete, title: 'remove this role', class: 'danger', data: {confirm: 'Are you sure you want to remove this role?'}
        end
        outp
      end.to_sentence.html_safe
    %>
  <% else %>
    None
  <% end %>
  <% if can? :create, Role %>
    <% other_roles = Role.names.reject{|n, v| @user.roles.find{|r| r.name == n} } %>
    <% if other_roles.any? %>
      <%= form_for [@user, @user.roles.build], html: {style: 'display:inline'} do |f| %>
        <%= f.select :name, options_for_select(other_roles.map{|n,v|[Configurable.send(n).titlecase, n]}.unshift(['Add Role', nil])) %>
        <%= submit 'Add' %>
      <% end %>
    <% end %>
  <% end %>
</div>

<p>Wards: <%= @user.wards.any? ? @user.wards.map{|w|w.name}.to_sentence : 'none' %>.</p>

<p>Joined <%= @user.created_at.strftime "%B %d %Y" %>.</p>

<%= clear %>

<% if can? :read_contact, @user %>
  <div>
    <h2>Contact Information</h2>
    <p><%= mail_to @user.email %></p>
    <% if @user.phone %>
      <%= link_to @user.phone, "tel:#{@user.phone}" %>
    <% end %>
    <% if @user.address %>
      <p>
        <%= with_br @user.address %><br>
        <small>Snail mail <%= 'not' unless @user.snail_mail %> allowed</small>
      </p>
    <% end %>
  </div>
<% end %>

<% if can? :read_attendance, @user %>

  <% if @past_coordinating.any? %>
    <div id="past_coordinating">
      <h2>Past Events Run</h2>
      <%= render 'events/events', events: @past_coordinating %>
    </div>
  <% end %>

  <% if @past_participating.any? %>
    <div id="past_participating">
      <h2>Past Events Attended</h2>
      <%= render 'events/events', events: @past_participating %>
    </div>
  <% end %>

<% end %>