<% title @user.display_name %>

<% if can? :update, @user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
<% if @user.id == current_user.id %>
  <%= link_to 'Change my password', edit_user_registration_path %>
<% end %>

<% if @user.description.present? %>
  <p><%= @user.description %></p>
<% end %>

<p>
  Joined <%= @user.created_at.strftime "%B %d %Y" %>.
</p>

<div>
  <h2>Contact Information</h2>
  <dl>
    <dt>Email</dt>
    <dd><%= @user.email %></dd>
    <% if @user.phone.present? %>
      <dt>Phone</dt>
      <dd><%= @user.phone %></dd>
    <% end %>
  </dl>
</div>

<% if @user.has_role? :participant %>

  <div>
    <h2>Upcoming Events</h2>
    <% if @upcoming.any? %>
     <%= render 'events/events', events: @upcoming %>
    <% else %>
      None.
    <% end %>
  </div>

  <% if @past.any? %>
    <div>
      <h2>Past Events</h2>
      <%= render 'events/events', events: @past %>
    </div>
  <% end %>

<% end %>