<% title @user.display_name %>

<% if can? :update, @user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
<% if @user.id == current_user.id %>
  <%= link_to 'Change my password', edit_user_registration_path %>
<% end %>

<% if can?(:add_role, @user) && !@user.has_role?(:coordinator) %>
  <%= form_for @user, url: { action: :add_role}, method: :patch, html: {style: "margin:1em 0"} do |f| %>
    <%= f.fields_for :roles do |rf| %>
      <%= rf.hidden_field :name, value: :coordinator %>
    <% end %>
    <%= f.submit 'Make coordinator' %>
  <% end %>
<% end %>

<%= image_tag @user.avatar('large'), size: '80x80', alt: 'profile photo' %>

<%= paragraphs @user.description if @user.description.present? %>

<p>
  Joined <%= @user.created_at.strftime "%B %d %Y" %>.
</p>

<%= clear %>

<div>
  <h2>Contact Information</h2>
  <%= link_to @user.email, "mailto:#{@user.email}" %>
  <% if @user.phone.present? %>
    <br><%= @user.phone %>
  <% end %>
</div>


<% if @upcoming.any? %>
  <div>
    <h2>Upcoming Events</h2>
    <%= render 'events/events', events: @upcoming %>
  </div>
<% end %>

<% if @past.any? %>
  <div>
    <h2>Past Events</h2>
    <%= render 'events/events', events: @past %>
  </div>
<% end %>