<h1><%= @user.display_name %></h1>

<%= link_to 'Edit', edit_user_path(@user) %>

<% if @user.description.present? %>
  <p><%= @user.description %></p>
<% end %>

<p>
  Joined <%= @user.created_at.strftime "%B %d %Y" %>.
</p>

<div>
  <h2>Contact Information</h2>
  <dl>
    <dt>Email</dt>
    <dd><%= @user.email %></dd>
    <% if @user.phone.present? %>
      <dt>Phone</dt>
      <dd><%= @user.phone %></dd>
    <% end %>
  </dl>
</div>

<div>
  <h2>Upcoming Events</h2>
  <% if @upcoming.any? %>
   <%= render 'events/events', events: @upcoming %>
  <% else %>
    None.
  <% end %>
</div>

<% if @past.any? %>
  <div>
    <h2>Past Events</h2>
    <%= render 'events/events', events: @past %>
  </div>
<% end %>
