<div class="field" id="address">

  <%= f.label :address, 'Full Address' %>
  <% if local_assigns.has_key? :hint %>
    <span class="hint"><%= hint %></span>
  <% end %>
  <br>
  <%= yield %>
  <%= f.text_area :address, placeholder: "123 Fake Street, City" %>
  <% drag_text = 'Drag marker to adjust.' %>
  <% content_for :js_ready do %>
    $('#address textarea').after('<div id="map_wrapper"><div id="editable_map" class="map"></div><div id="instruction"><%= drag_text %></div></div>');
    editable_map = make_map('editable_map', <%= (controller_name == 'users' && params['id'].to_i == current_user.id) %>);
    var points = [];
    if ($('#coords input:first').val()) {
      points.push( L.latLng($('#coords input:first').val(), $('#coords input:last').val()) );
      editable_marker = L.marker(points[points.length-1], {draggable: true}).addTo(editable_map).on('dragend', marker_dragged);
    }
    else {
      $('#instruction').text('Enter an address to see it on the map.');
    }
    finish_map(editable_map, points);
  <% end %>

  <fieldset id="coords">
    <%= f.label :lat, 'Latitude' %> <%= f.number_field :lat, size: 10, :step => 'any' %><br>
    <%= f.label :lng, 'Longitude' %> <%= f.number_field :lng, size: 10, :step => 'any' %>
  </fieldset>

  <% content_for :js_ready do %>
    $('#address textarea').blur(function(){
      var addr = $(this).val();
      if (addr && addr != $(this).data('was')) {
        $(this).addClass('loading');
        $.getJSON('<%= geocode_path %>', {address: addr}, function(data){
          $('#address textarea')
            .removeClass('loading')
            .data('was', addr);
          if (data[0]) {
            $('#coords input:first').val(data[0]);
            $('#coords input:last').val(data[1]);
            var ll = L.latLng(data[0], data[1]);
            if (editable_marker != undefined) {
              editable_marker.setLatLng(ll);
            }
            else {
              $('#instruction').text('<%= drag_text %>');
              editable_marker = L.marker(ll, {draggable: true}).addTo(editable_map).on('dragend', marker_dragged);
            }
            editable_map.panTo(ll);
          }
        });
      }
    });
  <% end %>

</div>