<table>
  <thead>
    <tr>
      <th colspan="2">Species</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trees.each do |tree| %>
      <tr>
        <td>
          <% if tree.species.present? %>
            <% if Tree.types.include?(tree.species.capitalize.to_s) %>
              <%= image_tag("fruits/#{tree.species.downcase}16.png") %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= tree.species %>
        </td>
        <td><%= tree.owner.address %></td>
        <% if @add %>
          <td><button type="button" class="addTree" value="<%=tree.id %>">+</button></td>
        <% else %>
          <td><%= link_to 'Show', tree %></td>
          <td><%= link_to 'Edit', edit_tree_path(tree) %></td>
          <td><%= link_to 'Destroy', tree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% paginate @trees %>
<%= link_to 'New Tree', new_tree_path %>