	<h1 class="title">	
	<% if Tree.types.include?(@tree.species.capitalize.to_s) %>
		<%= image_tag("fruits/#{@tree.species.downcase}32.png") %>
	<% end %>
	A beautiful <b><%= @tree.species.capitalize %></b></h1>
	<h2 class="title">at <%= @tree.owner.address %></h2>

<div id="tree_details" class="block">
	<h1>Tree Details</h1>

	<% if @tree.subspecies.present? %>
		<p>
  			<b>Subspecies: </b> <%=@tree.subspecies %>
  		</p>
	<% end %>	
	<p>
  		<b>Height: </b> 
  			<% if @tree.height.present? %>
  				<%=Tree.height_labels.key(@tree.height.to_sym) %>
  			<% else %>
  				Unknown
  			<% end %>
  	</p>
	<% if @tree.treatment.present? %>
		<p>
  			<b>Treatment: </b> <%=@tree.treatment %>
  		</p>
	<% end %>
	<% if @tree.additional.present? %>
		<p>
  			<b>Additional Notes: </b> <%=@tree.additional %>
  		</p>
	<% end %>
	<% if !@tree.pickable.nil? %>
		
		<p>
		<% if @tree.pickable == true %>
  			This tree is pickable.
  		<% else %>
  			<b style="color: #ff0000">This tree is not pickable.</b><br />
  			<b>Reason:</b><br />
  			<% if @tree.not_pickable_reason.present? %>
  				<%=@tree.not_pickable_reason %>
  			<% end %>		
  		<% end %>
  		</p>
	<% end %>  	
	<% if @tree.ripen.present? %>
		<p>
  			<b>This tree ripens close to: </b> <%=date(@tree.ripen) %>
  		</p>
	<% end %>



</div>



<div id="contact_information" class="block">
	<h1>Contact Information</h1>
	<%
		if @tree.submitter_id.present?
			contact = @tree.submitter
		else 
			contact = @tree.owner
		end
	 %>


	<%= start_cols %>
		<p>
			<b>Name: </b> <%= contact.fname %> <%= contact.lname %> is the primary contact for this tree.
		</p>
		<p>
			<b>Contact Type: </b> They are the <%=Tree.relationship_labels[@tree.relationship.to_sym] %>
		</p>
		<p>
			<b>Email: </b> <%= contact.email || "None" %> 
		</p>
		<p>
			<b>Phone: </b> <%= contact.phone %>
		</p>
		<p>
			<b>Mailing Address: </b> <%= contact.address %>
		</p>
		<p>
			<b>Contact Info: </b> <%= contact.contactnotes || "None" %>
		</p>

	<%= next_col %>
		You can contact this person by:
		<ul>
		<% if contact.can_email.present? %>
			<% if contact.can_email == true %> 
				<li>Email</li>
			<% end %>
		<% else %>
			<li>Email</li>
		<% end %>
		<% if contact.can_phone.present? %>
			<% if contact.can_phone == true %> 
				<li>Phone</li>
			<% end %>
		<% else %>
			<li>Phone</li>
		<% end %>
		<% if contact.can_mail.present? %>
			<% if contact.can_mail == true %> 
				<li>Mail</li>
			<% end %>
		<% else %>
			<li>Mail</li>
		<% end %>
		<% if contact.do_not_contact_reason.present? %>
			<p style="color: #ff0000"> Do not contact this person!</p>
				<% if current_user.has_role?(:admin) %>
					Because: <%=contact.do_not_contact_reason %>
				<% else %>
					If you need to know why, ask admin.
				<% end %>
		<% end %>
	<%= end_cols %>
	<!-- Add contact instructions -->



</div>



<div id="tree_event" class="block">


<h1>
	Event Details   

	<div style="float: right">
	<% if can? :create, Event %>
    	<%= link_to "Add New #{Configurable.event.titlecase} for this Tree", new_event_path({"tree_id" => @tree.id}), {class: "button"} %>
  	<% end %>
  	</div>

  </h1>
  <p>
  	<b>Tree Address: </b><%=@tree.owner.address %>
  </p>
  <p>
  	<b>Ward: </b><%=@tree.owner.ward %>
  </p>

 <h1>Event Instructions</h1>
	<% if @tree.keep.present? %>
		<p>Keep <b><%= Tree.keep_result_labels.key(@tree.keep.to_sym) %></b> of the fruit for the property owner.</p>
	<% end %>

	<b>Tree Access Notes: </b>
	<p><%= @tree.owner.propertynotes %></p>

	<% @tree.owner.ladder = User.ladders[:yes] %>

	<% if @tree.owner.ladder.present? %>
	<p>Ladder: <b>The property owner <%=User.ladder_show_labels.key(@tree.owner.ladder.to_sym) %></b></p>
	<% end %>



	<h3>Treatment</h3>
	<p><%= @tree.treatment %></p>

	<h3>Additional Notes</h3>
	<p><%= @tree.additional %></p>

</div>

<% if @events.any? %>

<div id="previous_tree_events" class="block">
	<h1>Events with this Tree</h1>
	<ul>
	<% @events.each do |et| %>
      <li>
        <%=et.event.name %> 
        - 
        <% if et.event.start.present? %> 
        	<%=date(et.event.start).to_s %> 
        	at <%=time(et.event.start).to_s %> 
        <% else %>
        	<i>(Date not yet set)</i>
        <% end %>

        <% if et.event.event_trees.count > 1 %> - with <%=(et.event.event_trees.count -1).to_s %> other trees <% end %>
      </li>
    <% end %>
    </ul>
</div>
<% end %>


  <% if can? :create, Event %>
    <%= link_to "Add New #{Configurable.event.titlecase} for this Tree", new_event_path({"tree_id" => @tree.id}) %> |
  <% end %>
  	<%= link_to 'Add a new tree with this location', copy_location_tree_path(@tree) %> |
  	<%= link_to 'Add a new tree exactly like this', copy_tree_path(@tree) %> |
	<%= link_to 'Edit', edit_tree_path(@tree) %> |
    <%= link_to 'Delete', @tree, method: :delete, data: { confirm: 'Are you sure?' } %> |
	<%= link_to 'Back', trees_path %>
