<p id="notice"><%= notice %></p>

<p>
  <strong>Species:</strong>
  <%= @tree.species %>
</p>

<%= render 'shared/address_and_map', thing: @tree %>

<%= link_to 'Edit', edit_tree_path(@tree) %> |
<%= link_to 'Back', trees_path %>
