<%= form_for @event do |f| %>

  <%= render 'shared/errors', thing: @event %>

  <%= start_cols %>

  <% if can?(:approve, @event) %>
    <fieldset>
      <legend style="float:left">Status</legend>
      <label style="margin:0 0.7em"><%= f.radio_button :status, :proposed %>Proposed</label>
      <label><%= f.radio_button :status, :approved %>Approved</label>
    </fieldset>
  <% end %>

  <% if @event.can_edit_attribute? :name, current_user %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
  <% end %>

  <% if @event.can_edit_attribute? :start, current_user %>
    <fieldset id="when">
      <div class="field">
        <%= f.label :start_day, 'Date' %>
        <%= f.date_field :start_day, value: @event.start ? @event.start.to_date.to_s : nil %>
      </div>
      <% content_for :js_ready do %>
        $('#event_start_day').datepicker({
          dateFormat: 'yy-mm-dd',
          <%= "defaultDate: '#{@event.start.to_date}',".html_safe if @event.start  %>
          nextText: '»',
          prevText: '«',
          showButtonPanel: true,
          showOn: 'button',
          closeText: 'Okay',
          buttonText: '<%= @event.start ? date(@event.start) : 'Not set' %>',
          onSelect: function(){
            $('.ui-datepicker-trigger').text($.datepicker.formatDate('DD MM d, yy', $(this).datepicker('getDate')));
            <%# js-formatted date above to be kept in same format as date() in helpers/events %>
            $('#time_fields').css('visibility', 'visible');
            $('#time_fields').trigger("change");
          }
        });
      <% end %>
      <div class="field" id="time_fields">
        <%= f.label :start_time_12, 'Time' %>
        <%= f.text_field :start_time_12, size: 5, maxlength: 5, class: 'time', value: (@event.start.present? ? @event.start_time_12 : Event.default_time.split(' ').first) %>
        <%= f.select :start_time_p, options_for_select(['AM', 'PM'], @event.start_time_p || Event.default_time.split(' ').last) %>

        <%= f.label :duration, 'For', style: 'margin-left:0.7em' %>
        <%= f.select :duration, options_for_select((1..6).map{|n| [pluralize(n, 'hour'), n.hours]}, @event.duration || 7200) %>
      </div>
    </fieldset>
    <% unless @event.start %>
      <% content_for :js_ready do %>
        $('#time_fields').css('visibility', 'hidden');
      <% end %>
    <% end %>
  <% end %>

  <% if @event.can_edit_attribute?(:notes, current_user) || can?(:read_notes, @event) && @event.notes %>
    <div class="field"<%= 'id="notes"'.html_safe unless @event.can_edit_attribute?(:notes, current_user) %>>
      <% if @event.can_edit_attribute?(:notes, current_user) %>
        <%= f.label :notes %> <span class="hint">for <%= Configurable.admin.pluralize.titlecase %> and <%= Configurable.coordinator.titlecase %> only</span><br>
        <%= f.text_area :notes %>
      <% else %>
        <strong>Notes for <%= Configurable.admin.titlecase.pluralize %> and <%= Configurable.coordinator.titlecase %></strong>
        <%= paragraphs @event.notes %>
      <% end %>
    </div>
  <% end %>

  <% if @event.can_edit_attribute? :description, current_user %>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
  <% end %>

  <%= next_col %>

  <% if false %>
    <b><%= @tree.owner.fname %></b> is the primary contact for this tree and is a <b><%= @tree.relationship %></b> in relation to the property. 
  <% else %>
    <% if @event.can_edit_attribute? :address, current_user %>
      <%= render layout: 'shared/address_form', locals: { f: f } do %>
        <% if @event.can_edit_attribute? :hide_specific_location, current_user %>
          <%= f.check_box :hide_specific_location %>
        <%= f.label :hide_specific_location, 'Hide specific location for non-attendees', style: 'font-weight:normal' %>
        <% end %>
        <% if Ward.any? && @event.can_edit_attribute?(:ward, current_user) %>
          <div>
            <%= f.label :ward_id, style: 'font-weight:normal' %>
            <%= f.collection_select :ward_id, Ward.all, :id, :name, include_blank: true %>
            <span class="hint"><%= link_to 'ward map', 'http://app.toronto.ca/wards/jsp/wards.jsp' %></span>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if false # @tree %>

    <% if Tree.types.include?(@tree.species.capitalize.to_s) %>
    <%= image_tag("fruits/#{@tree.species.downcase}32.png") %>
  <% end %>
    <%= @tree.height %> metre <b><%= @tree.species.capitalize %></b> tree at <%= @tree.owner.address %>
  </p>


  <p>Please keep <%= @tree.keep %> fruit for the property owner.</p>

  <h3>Treatment</h3>
  <p><%= @tree.treatment %></p>

  <h3>Additional Notes</h3>
  <p><%= @tree.additional %></p>

  <% end %>

<% if false #@event.can_edit_attribute? :trees, current_user %>
<h1>Trees already added to this pick</h1>  
<div id="selectedTrees" style="width: 100%">
<table>
  <thead>
    <tr>
      <th style="width: 20px"></th>
      <th colspan="2">Species</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr class="selectedTree"></tr>
    <%= hidden_field_tag  "event[tree_ids][]" %>     
        <% if @event.trees.any? %>

          <% @event.event_trees.each_with_index do |et, i| %>
            <tr class="selectedTree">
              <td>
                  <% if i != 0 %>
                      <%= check_box_tag  "event[tree_ids][]", et.tree_id, { checked: true} %>
                  <% else %>
                      <%= hidden_field_tag  "event[tree_ids][]", et.tree_id %>
                  <% end %>          
              </td> 
              <td>
                <% if et.tree.species.present? %>
                  <% if Tree.types.include?(et.tree.species.capitalize.to_s) %>
                    <%= image_tag("fruits/#{et.tree.species.downcase}32.png") %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= et.tree.species %>
              </td>
              <td><%= et.tree.owner.address %></td>
 
            

            </tr>
          <% end %>
        <% end %>
    </tr>
  </tbody>
</table>
</div>
  <!-- Find closest trees, make a list of all trees closest to property  -->
  <script language="">


  var getQueryVariable = function (url, variable) {
    var query = url.split('?')[1];
    var vars = query.split('&');
    for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split('=');
        if (decodeURIComponent(pair[0]) == variable) {
            return decodeURIComponent(pair[1]);
        }
    }
    console.log('Query variable %s not found', variable);
  }


    var page = null;
    $(document).ready(function () {
      var setChange = function () {
          $('[name="event[tree_ids][]"]').change(function (evt) {
              if (this.checked == true) {              
                $("#selectedTrees").find(".selectedTree:last").after($(evt.currentTarget).parent().parent())
              } else {
                $(evt.currentTarget).parent().parent().remove()
              }
              ids = []
              $("#selectedTrees").find('[name="event[tree_ids][]"]').each(function() { 
                if (this.checked == true) {
                   ids.push($(this).val())
                 }
              });
              getTrees()
          }); 

          $('span.page a, span.next a, span.prev a, span.first a, span.last a').click(function (evt) {
            evt.preventDefault();
            page = getQueryVariable(this.href, "page");
            getTrees();
          });
      }
      var ids = []
      var getTrees = function () {
          var data = {
            ids : ids, 
            lat: $('#event_lat')[0].value, 
            lng: $('#event_lng')[0].value 
          }
          if (page != null) {
            data["page"] = page
          }
          $.ajax({
              url: "/trees/closest",
              type: "GET",
              data : data
          })
          .success(function (response) {
            $("#searchTrees").html(response)
            setChange()
          })
      }
      setChange()
      console.log($("#event_lat"))
      $("#event_lat").change(function (evt) {
          page = null;
          getTrees()
      });
      $("#event_lng").change(function (evt) {
          page = null;
          getTrees()
      }); 

      $('span.page a, span.next a, span.prev a, span.first a, span.last a').click(function (evt) {
        evt.preventDefault();
        page = getQueryVariable(this.href, "page");
        getTrees();
      });

    })
  </script>
  <h1 style="margin-top: 40px">Add nearby trees to this pick</h1>
  <div id="searchTrees">
      <%= render 'trees/formlist' %>
  </div>
<% end %>
  <%= end_cols %>

  <%= start_cols %>

  <% if @event.can_edit_attribute?(:min, current_user) && @event.can_edit_attribute?(:max, current_user) %>
    <fieldset>
      <legend>Number of Participants</legend>
      <%= f.label :min %>
      <%= f.number_field :min, min: 0 %><br>
      <%= f.label :max %>
      <%= f.number_field :max, min: 0 %>
      <span class="hint">leave blank for unlimited</span>
    <fieldset>
  <% end %>

  <%= next_col %>


  <% if @event.can_edit_attribute? :coordinator, current_user %>
    <%
      if current_user.has_role? :admin
        coordinators = @event.coordinator ? User.coordinators.order("users.id = #{@event.coordinator_id} DESC") : User.coordinators
        if @event.coordinator && !coordinators.include?(@event.coordinator)
          # the user set as coordinator may no longer be a coordinator;
          #   this forces them to be listed anyway to prevent problems;
          #   they still won't have any coordinatior privileges
          coordinators.unshift @event.coordinator
        end
      else
        coordinators = User.where id: current_user.id
      end
    %>
    <% content_for :js_ready do %>
      var checkTimeForSet = function () {
        if ($('#time_fields').css('visibility') != 'hidden') {
          $("#equipment_set").show();
        } else {
          $("#equipment_set").hide();
        }
      }
      $('#time_fields').change(function () {
        checkTimeForSet();
      });
      checkTimeForSet();
    <% end %>
    <% if EquipmentSet.any? %>
      <fieldset id="equipment_set">
        <%= f.label :equipment_set_id, style: 'font-weight:normal' %>
        <%= f.collection_select :equipment_set_id, EquipmentSet.all, :id, :title, include_blank: true %>
      </fieldset>
    <% end %>
    <% if Agency.any? %>
      <fieldset id="agency">
        <%= f.label :agency_id, style: 'font-weight:normal' %>
        <%= f.collection_select :agency_id, Agency.all, :id, :title, include_blank: true %>
      </fieldset>
    <% end %>
    
    <fieldset id="coordinator" class="users">
      <legend><%= Configurable.coordinator.titlecase %></legend>
      <label style="padding:0.2em 0">
        <%= f.radio_button :coordinator_id, nil %>
        Not set
      </label>
      <% coordinators.each do |coordinator| %>
        <label>
          <%= f.radio_button :coordinator_id, coordinator.id %>
          <%= render 'users/user', user: coordinator %>
        </label>
      <% end %>
      <% content_for :js_ready do %>
        var coordinators = $('#coordinator label');
        if (coordinators.length > 4) {
          coordinators.each(function(){
            if ($(this).find('input:checked').length == 0) {
              $(this).hide();
            }
            else {
              $(this).find('input').css('visibility', 'hidden');
            }
          });
          $('<button class="default" style="margin-left:0.6em">Change</button>')
            .click(function(){
              $('#coordinator input:checked').css('visibility', 'visible');
              $('#coordinator label').show();
              $(this).remove();
            })
            .appendTo('#coordinator');
        }
      <% end %>
    </fieldset>
  <% end %>

  <%= end_cols %>


  <%= cancel %>
  <% if @event.persisted? && @event.users.reject{|u|u==current_user}.any? %>
    <%= submit 'Save & Notify of Changes', title: 'Note: Notifications will still only be sent if changes are made to the name, description, notes, or location.' %>
    <%= submit 'Save Without Notifications' %>
  <% else %>
    <%= submit %>
  <% end %>
  

<% end %>