<%= form_for @event do |f| %>

  <%= render 'shared/errors', thing: @event %>

  <%= start_cols %>

  <% if @event.persisted? && @event.users.any? %>
    <div class="field">
      <%= f.check_box :notify_of_changes, {}, true, false %>
      <%= f.label :notify_of_changes, 'Notify attendees of changes', style: 'font-weight:normal' %>
    </div>
  <% end %>

  <% if @event.new_record? %>
  <%# can only be approved by admin, but only admins can create events so it's okay to do this like so %>
    <fieldset>
      <legend>Status</legend>
      <label><%= f.radio_button :status, :proposed %> Proposed</label><br>
      <label><%= f.radio_button :status, :approved %> Approved</label>
    </fieldset>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :notes %> <span class="hint">for Admins and Coordinators only</span><br>
    <%= f.text_area :notes %>
  </div>

  <% coordinators = current_user.has_role?(:admin) ? User.coordinators : User.coordinators.where(id: current_user.id) %>
  <fieldset id="coordinators">
    <legend>Coordinator</legend>
    <label style="margin-bottom:0.5em">
      <%= f.radio_button :coordinator_id, nil %>
      No coordinator
    </label>
    <% coordinators.each do |coordinator| %>
      <label>
        <%= f.radio_button :coordinator_id, coordinator.id %>
        <%= render 'users/user', user: coordinator %>
      </label>
    <% end %>
    <% content_for :js_ready do %>
      $('#coordinators a').attr('target', '_new');
    <% end %>
  </fieldset>

  <%= next_col %>

  <fieldset id="when" style="width:14em">
    <legend>When</legend>
    <%= f.label :start_day, 'Date' %><br>
    <%= f.date_field :start_day, value: @event.start ? @event.start.to_date.to_s : nil %>
    <% content_for :js_ready do %>
      $('#event_start_day').after('<div id="datepicker"></div>')
      $('#datepicker').datepicker({
        dateFormat: 'yy-mm-dd',
        <%= "defaultDate: '#{@event.start.to_date}',".html_safe if @event.start  %>
        nextText: '»',
        prevText: '«',
        onSelect: function(dateText) {
          $('#event_start_day').val(dateText);
        }
      });
      if (!$('#event_start_day').val()) { // if there's no date, don't show today selected
        $('#datepicker .ui-state-active').removeClass('ui-state-active');
      }
    <% end %>

    <div class="field">
      <%= f.label :start_time_12, 'Time' %>
      <%= f.text_field :start_time_12, size: 5, class: 'time', value: (@event.start.present? ? @event.start_time_12 : '12:00') %>
      <%= f.select :start_time_p, options_for_select(['AM', 'PM'], @event.start_time_p) %>
    </div>
    <div class="field">
      <%= f.label :duration, 'For' %>
      <%= f.select :duration, options_for_select((1..6).map{|n| [pluralize(n, 'hour'), n.hours]}, @event.duration) %>
    </div>
  </fieldset>

  <%= render 'shared/address_form', f: f %>

  <%= end_cols %>

  <%= f.submit 'Save' %>

<% end %>