<%= form_for @event do |f| %>

  <%= render 'shared/errors', thing: @event %>

  <%= start_cols %>

  <% if @event.new_record? && can?(:approve, @event) %>
    <fieldset>
      <legend style="float:left">Status</legend>
      <label style="margin:0 0.7em"><%= f.radio_button :status, :proposed %>Proposed</label>
      <label><%= f.radio_button :status, :approved %>Approved</label>
    </fieldset>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <fieldset id="when">
    <div class="field">
      <%= f.label :start_day, 'Date' %>
      <%= f.date_field :start_day, value: @event.start ? @event.start.to_date.to_s : nil %>
    </div>
    <% content_for :js_ready do %>
      $('#event_start_day').datepicker({
        dateFormat: 'yy-mm-dd',
        <%= "defaultDate: '#{@event.start.to_date}',".html_safe if @event.start  %>
        nextText: '»',
        prevText: '«',
        showButtonPanel: true,
        showOn: 'button',
        closeText: 'Okay',
        buttonText: '<%= @event.start ? date(@event.start) : 'Not set' %>',
        onSelect: function(){
          $('.ui-datepicker-trigger').text($.datepicker.formatDate('DD MM d, yy', $(this).datepicker('getDate')));
          <%# js-formatted date above to be kept in same format as date() in helpers/events %>
        }
      });
    <% end %>
    <div class="field">
      <%= f.label :start_time_12, 'Time' %>
      <%= f.text_field :start_time_12, size: 5, maxlength: 5, class: 'time', value: (@event.start.present? ? @event.start_time_12 : '12:00') %>
      <%= f.select :start_time_p, options_for_select(['AM', 'PM'], @event.start_time_p) %>

      <%= f.label :duration, 'For', style: 'margin-left:0.7em' %>
      <%= f.select :duration, options_for_select((1..6).map{|n| [pluralize(n, 'hour'), n.hours]}, @event.duration) %>
    </div>
  </fieldset>

  <div class="field">
    <%= f.label :notes %> <span class="hint">for Admins and Coordinators only</span><br>
    <%= f.text_area :notes %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <%= next_col %>

  <%= render layout: 'shared/address_form', locals: { f: f } do %>
    <%= f.check_box :hide_specific_location %>
    <%= f.label :hide_specific_location, 'Hide specific location for non-attendees', style: 'font-weight:normal' %><br>
  <% end %>

  <%= end_cols %>

  <%= start_cols %>

  <fieldset>
    <legend>Number of Participants</legend>
    <%= f.label :min %>
    <%= f.number_field :min, min: 0 %><br>
    <%= f.label :max %>
    <%= f.number_field :max, min: 0 %>
    <span class="hint">leave blank for unlimited</span>
  <fieldset>

  <%= next_col %>

  <%
    if current_user.has_role? :admin
      coordinators = @event.coordinator ? User.coordinators.order("users.id = #{@event.coordinator_id} DESC") : User.coordinators
    else
      coordinators = User.coordinators.where(id: current_user.id)
    end
  %>
  <fieldset id="coordinator">
    <legend>Coordinator</legend>
    <label style="padding:0.2em 0">
      <%= f.radio_button :coordinator_id, nil %>
      Not set
    </label>
    <% coordinators.each do |coordinator| %>
      <label>
        <%= f.radio_button :coordinator_id, coordinator.id %>
        <%= render 'users/user', user: coordinator %>
      </label>
    <% end %>
    <% content_for :js_ready do %>
      $('#coordinators a').attr('target', '_new');
      var coordinators = $('#coordinator label');
      if (coordinators.length > 4) {
        coordinators.each(function(){
          if ($(this).find('input:checked').length == 0) {
            $(this).hide();
          }
          else {
            $(this).find('input').css('visibility', 'hidden');
          }
        });
        $('<button class="default" style="margin-left:0.6em">Change</button>')
          .click(function(){
            $('#coordinator input:checked').css('visibility', 'visible');
            $('#coordinator label').show();
            $(this).remove();
          })
          .appendTo('#coordinator');
      }
    <% end %>
  </fieldset>

  <%= end_cols %>

  <%= submit 'Cancel', class: 'default' %>
  <% if @event.persisted? && @event.users.reject{|u|u==current_user}.any? %>
    <%= submit 'Save & Notify of Changes', title: 'Note: Notifications will still only be sent if changes are made to the name, description, notes, or location.' %>
    <%= submit 'Save Without Notifications' %>
  <% else %>
    <%= submit %>
  <% end %>

<% end %>