<% title "Cancel or Delete ‘#{@event.display_name(current_user)}’" %>


<%= form_for @event, url: cancel_event_path(@event), method: :patch do |f| %>

  <h2>Cancel</h2>

  <p>You may optionally enter in a reason for cancellation.</p>

  <div class="field">
    <%= f.label :cancel_description, 'Reason' %><br>
    <%= f.text_area :cancel_description %>
  </div>

  <div class="field">
    <%= f.label :cancel_notes, 'Reason &ndash; shown only to Admins and Coordinator'.html_safe %><br>
    <%= f.text_area :cancel_notes %>
  </div>

  <%= cancel 'Do Not Cancel' %>
  <%= submit "Cancel #{Configurable.event.titlecase}", class: 'danger' %>

<% end %>


<%= form_for @event, url: event_path(@event), method: :delete, html: {style: "margin-top:4em"} do |f| %>

  <h2>Delete</h2>

  <%= submit "Permanently Delete #{Configurable.event.titlecase}", class: 'danger', data: {confirm: "Delete ‘#{@event.display_name(current_user)}’? This cannot be undone."} %>

<% end %>