<% content_for :header  do %>
  <% if can? :calendar, Event %>
    <%= link_to 'Monthly Calendar', calendar_events_path %>
  <% end %>
  <% if can? :create, Event %>
    <%= link_to 'Add New Event', new_event_path %>
  <% end %>
<% end %>

<%
  sections_shown = 0
  events_shown = 0
%>
<% @sections.each do |section| %>
  <% if section[:q].any? %>
    <%
      sections_shown += 1
      events_shown += section[:q].length
    %>
    <% section_id = section[:id] || section[:name].downcase.gsub(' ', '_') %>
    <section id="<%= section_id %>"<%= ' data-map="side"'.html_safe if section[:q].find{|e|e.coords} %>>
      <h2><%= section[:name] %></h2>
      <%= render 'events', events: section[:q] %>
    </section>
  <% end %>
<% end %>

<% if sections_shown > 3 && events_shown > 20 %>
  <% content_for :js_ready do %>
    $('section').each(function(){
      $('<button title="minimize this section">-</button>')
        .prependTo($(this).children('h2'))
        .click(function(){
          $(this).parent().parent().children('ol, .cols').toggle();
          $(this).text($(this).text() == '-' ? '+' : '-');
          $(this).attr('title', $(this).attr('title').indexOf('min') ? 'minimize this section' : 'maximize this section');
        });
    });
  <% end %>
<% end %>

<%= content_tag(:p, 'There are no events yet.') if sections_shown.zero? %>