<%= form_tag events_path, method: :get do %>
  <% content_for :js_ready do %>
    $('checkbox').change(function(){
      $(this).closest('form').submit();
    });
  <% end %>

  <% Event.statuses.each do | k, v| %>
    <%= check_box "statuses", k, checked: params['statuses'] ? params['statuses'][k] == "1" : false %>
    <%= label "statuses", k %>
  <% end %>
  <%= submit 'Search' %>
<% end %>

<% if @events.any? %>
  <%= render layout: 'events', locals: {events: @events, tag: 'li'} do %>
<% end %>
<% else %>
  <p>No events found.</p>
<% end %>
