<% if can? :create, Event %>
  <strong><%= link_to 'Add New Event', new_event_path %></strong>
<% end %>

<% if (current_user.has_role?(:admin) || current_user.has_role?(:coordinator)) && Event.coordinatorless.any? %>
  <div id="coordinatorless">
    <h2>Events with no Coordinator</h2>
      <%= render 'events', events: Event.coordinatorless %>
  </div>
<% end %>

<% if current_user.has_role?(:participant) || current_user.has_role?(:coordinator) %>
  <div>
    <h2>My Upcoming Events</h2>
    <% if current_user.events.not_past.any? %>
      <%= render 'events', events: current_user.events.not_past %>
    <% else %>
      <p>None.</p>
    <% end %>
  </div>
<% end %>

<% if @joinable.any? %>
  <div id="upcoming">
    <h2>Other Upcoming Events</h2>
    <%= render 'events', events: @joinable %>
  </div>
<% end %>


<% if current_user.has_role?(:admin) && Event.past.any? %>
  <p><%= link_to 'Past Events', past_events_path %></p>
<% end %>