<%
  tit = @event.display_name
  tit = "#{@event.status.capitalize}: #{tit}" unless @event.approved?
  title tit
%>

<% content_for :header do %>

  <% if can? :update, @event %>
    <%= link_to 'Edit', edit_event_path(@event) %>
  <% end %>
  <% if can?(:approve, @event) && @event.proposed? %>
    <%= link_to 'Approve', approve_event_path(@event), method: :patch %>
  <% end %>
  <% if can?(:cancel, @event) && !@event.cancelled? %>
    <%= link_to 'Cancel', cancel_event_path(@event) %>
  <% end %>

  <% if can?(:invite, @event) && @event.invitable? %>
    <%= form_for @event, url: invite_event_path(@event), method: :patch, html: {id: 'invite'} do |f| %>
      <label>
        Invite <%= number_field_tag 'number', @event.suggested_invitations, min: 1, max: Event.max_invitable %> participants
      </label>
      <%= f.submit 'Invite' %>
    <% end %>
  <% end %>

<% end %>

<% if current_user.has_role?(:participant) || current_user.has_role?(:coordinator) || @buttons.any? %>
  <div id="rsvp">
    <%= @attend_str %>
    <% if @buttons.any? %>
      <% @buttons.each do |type, label| %>
        <%= button_to label, send("#{type}_event_path", @event), method: :patch %>
      <% end %>
      <% if @buttons[:attend] && @event.participants_needed > 0 %>
        <br><%= pluralize @event.participants_needed, 'participant' %> still needed!
      <% end %>
    <% end %>
  </div>
<% end %>

<%# todo: better division of cola vs colb, depending on what stuff there is %>
<%= start_cols %>

<% if @event.notes.present? && can?(:read_notes, @event) %>
  <div id="notes">
    <strong>Notes for Admins and Coordinators</strong>
    <%= paragraphs @event.notes %>
  </div>
<% end %>
<%= paragraphs @event.description if @event.description.present? %>
<%= next_col if @event.description.present? || (@event.notes.present? && can?(:read_notes, @event)) %>

<div>
  <% if @event.start %>
    <div id="date"><p><%= date @event.start %></p></div>
    <% content_for :js_ready do %>
      $('#date').html('').datepicker({
        dateFormat: 'yy-mm-dd',
        defaultDate: "<%= @event.start.to_date %>",
        nextText: '',
        prevText: '',
        disabled: true
      });
    <% end %>
    <p><%= time @event.start %> to <%= time @event.finish %> (<%= pluralize @event.duration_hours, 'hour' %>)</p>
  <% else %>
    <p>No date set.</p>
  <% end %>
</div>

<% if @event.address || @event.coords %>
  <section id="where"<%= " data-lat=\"#{@event.lat}\" data-lng=\"#{@event.lng}\"".html_safe if @event.coords %>>
    <h2>Where</h2>
    <%= with_br(@event.address) if @event.address %>
    <% if @event.coords %>
      <% content_for :js_ready do %>
        $('#where').append('<div id="map"></div>');
        show_map($('#where'));
      <% end %>
    <% end %>
  </section>
<% end %>

<%= end_cols %>

<section>

  <h2>Coordinator</h2>
  <% if @event.coordinator %>
    <%= render 'users/user', user: @event.coordinator %>
  <% else %>
    None set.
  <% end %>

  <% if @event.can_have_participants? %>

    <div id="participants">
      <h2>
        <%= pluralize @event.participants.count, 'Participant' %>
        &ndash;
        <% if @event.participants_needed > 0 %>
          <%= @event.participants_needed %> more needed
        <% elsif @event.full? %>
          full
        <% else %>
          <%
            spots = @event.remaining_spots
            spots = 'unlimited' if spots == true
          %>
          <%= pluralize spots, 'spot' %> left
        <% end %>
      </h2>
      <% if @event.participants.any? %>
        <ul class="users">
          <% @event.participants.each do |user| %>
            <%= render 'users/user', user: user, tag: 'li' %>
          <% end %>
        </ul>
      <% else %>
        <p>None yet.</p>
      <% end %>
    </div>

    <% if (current_user.has_role?(:admin) || current_user == @event.coordinator) && @event.approved? && !@event.past? && @event.waitlisted.any? %>
      <div id="waitlisted">
        <h2><%= @event.waitlisted.count %> Waitlisted</h2>
        <ul class="users">
          <% @event.waitlisted.each do |user| %>
            <%= render 'users/user', user: user, tag: 'li' %>
          <% end %>
        </ul>
      </div>
    <% end %>

  <% end %>

</section>