<h1>Event</h1>

<%= link_to 'Edit', edit_event_path(@event) %>
|
<%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %>

<p><strong>
  <% if @event.participants.include? current_user %>
    <%= link_to 'Cancel RSVP', unattend_event_path(@event), method: :patch %>
  <% else %>
    <%= link_to 'Join', attend_event_path(@event), method: :patch %>
  <% end %>
</strong></p>

<dl>
  <dt>When</dt>
  <dd><%= date @event.start %> to <%= date @event.finish %></dd>
</dl>

<section>
  <h2>Participants</h2>
  <% if @event.participants.any? %>
    <ul>
      <% @event.participants.each do |user| %>
        <li><%= user.email %></li>
      <% end %>
    </ul>
  <% else %>
    <p>None yet.</p>
  <% end %>
</section>

<%= link_to 'All Events', root_path %>