<% title @event.display_name %>

<% if can? :update, @event %>
  <%= link_to 'Edit', edit_event_path(@event) %>
<% end %>
<% if can?(:destroy, @event) && !@event.cancelled? %>
  <%= link_to 'Cancel', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% if @event.participatable_by? current_user %>
  <p><strong>
    <% if @event.participants.include? current_user %>
      <%= link_to 'Cancel RSVP', unattend_event_path(@event), method: :patch %>
    <% else %>
      <%= link_to 'Join', attend_event_path(@event), method: :patch %>
    <% end %>
  </strong></p>
<% end %>

<% unless @event.approved? %>
  <p><strong>Event <%= @event.status.capitalize %></strong.</p>
<% end %>

<%= start_cols %>

<% if @event.notes.present? && can?(:read_notes, @event) %>
  <div id="notes">
    <strong>Notes for Admins and Coordinators</strong>
    <%= paragraphs @event.notes %>
  </div>
<% end %>
<%= paragraphs @event.description if @event.description.present? %>
<%= next_col if @event.description.present? || (@event.notes.present? && can?(:read_notes, @event)) %>

<div>
  <% if @event.start.present? %>
    <div id="date"><p><%= date @event.start %></p></div>
    <% content_for :js_ready do %>
      $('#date').html('').datepicker({
        dateFormat: 'yy-mm-dd',
        defaultDate: "<%= @event.start.to_date %>",
        nextText: '',
        prevText: '',
        disabled: true
      });
    <% end %>
    <p><%= time @event.start %> to <%= time @event.finish %> (<%= pluralize @event.duration_hours, 'hour' %>)</p>
  <% else %>
    <p>No date set.</p>
  <% end %>
</div>

<%= end_cols %>

<section>

  <h2>Coordinator</h2>
  <% if @event.coordinator %>
    <%= render 'users/user', user: @event.coordinator %>
  <% else %>
    None set.
  <% end %>

  <% if @event.can_have_participants? %>
    <h2>Participants</h2>
    <% if @event.participants.any? %>
      <ul id="participants" class="users">
        <% @event.participants.each do |user| %>
          <%= render 'users/user', user: user, tag: 'li' %>
        <% end %>
      </ul>
    <% else %>
      <p>None yet.</p>
    <% end %>
  <% end %>

</section>