<% title @event.display_name %>

<% if can? :update, @event %>
  <%= link_to 'Edit', edit_event_path(@event) %>
<% end %>
<% if can? :destroy, @event %>
  <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% if @event.participatable_by? current_user %>
  <p><strong>
    <% if @event.participants.include? current_user %>
      <%= link_to 'Cancel RSVP', unattend_event_path(@event), method: :patch %>
    <% else %>
      <%= link_to 'Join', attend_event_path(@event), method: :patch %>
    <% end %>
  </strong></p>
<% end %>

<%= start_cols %>

<% if @event.description.present? %>
  <%= paragraphs @event.description %>
  <%= next_col %>
<% end %>

<div>
  <% if @event.start.present? %>
    <div id="date"><p><%= @event.start.strftime '%B %e %Y' %></p></div>
    <% content_for :js_ready do %>
      $('#date').html('').datepicker({
        dateFormat: 'yy-mm-dd',
        defaultDate: "<%= @event.start.to_date %>",
        nextText: '',
        prevText: '',
        disabled: true
      });
    <% end %>
    <p>
      <%= @event.start.strftime('%l:%M %p').gsub('  ', ' ') %>
      to
      <%= @event.finish.strftime('%l:%M %p').gsub('  ', ' ') %>
      (<%= pluralize @event.duration_hours, 'hour' %>)
    </p>
  <% else %>
    <p>No date set.</p>
  <% end %>
</div>

<%= end_cols %>

<section>

  <h2>Coordinator</h2>
  <% if @event.coordinator %>
    <%= render 'users/user', user: @event.coordinator %>
  <% else %>
    None set.
  <% end %>

  <% if @event.can_have_participants? %>
    <h2>Participants</h2>
    <% if @event.participants.any? %>
      <ul class="users">
        <% @event.participants.each do |user| %>
          <%= render 'users/user', user: user, tag: 'li' %>
        <% end %>
      </ul>
    <% else %>
      <p>None yet.</p>
    <% end %>
  <% end %>

</section>