<%
  tit = @event.display_name(current_user)
  tit = "#{@event.status.capitalize}: #{tit}" unless @event.approved?
  title tit
%>

<% content_for :header do %>

  <% if can? :who, @event %>
    <%
      who_link = 'Who'
      unless @event.cancelled?
        who_link += "#{@event.past? ? ' Went' : '’s Coming'} (#{@event.users.length})"
      end
    %>
    <%= link_to who_link, who_event_path(@event) %>
  <% end %>

  <% if can?(:claim, @event) && !@event.cancelled? && !@event.past? %>
    <%= link_to 'Claim This Event', claim_event_path(@event), method: :patch %>
  <% end %>
  <% if can?(:take_attendance, @event) && @event.past? && @event.approved? && @event.event_users.where(status: EventUser.statuses[:attending]).any? %>
    <%= link_to 'Take Attendance', who_event_path(@event) %>
  <% end %>
  <% if can? :update, @event %>
    <%= link_to 'Edit', edit_event_path(@event) %>
  <% end %>
  <% if can?(:approve, @event) && @event.proposed? %>
    <%= link_to 'Approve', approve_event_path(@event), method: :patch %>
  <% end %>
  <% if can?(:cancel, @event) && !@event.cancelled? %>
    <%= link_to 'Cancel', cancel_event_path(@event) %>
  <% end %>

<% end %>

<%= render 'rsvp' %>

<% if can?(:invite, @event) && @event.should_invite? %>
  <%= clear %>
  <div class="highlight">Please <%= button_to "Invite #{Configurable.participant.pluralize.titlecase}", invite_event_path(@event), method: :patch %>.</div>
<% end %>


<%= start_cols %>

<p>
  <% if @event.start %>
    <%= date @event.start %> <small><%= relative_time @event %></small>
    <br>
    <%= time @event.start %> to <%= time @event.finish %>
    <small>for <%= pluralize @event.duration_hours, 'hour' %></small>
  <% else %>
    No date set.
  <% end %>
</p>

<% if @event.notes.present? && can?(:read_notes, @event) %>
  <div id="notes">
    <strong>Notes for <%= Configurable.admin.titlecase.pluralize %> and <%= Configurable.coordinator.titlecase %></strong>
    <%= paragraphs @event.notes %>
  </div>
<% end %>

<%= paragraphs @event.description if @event.description.present? %>

<%= next_col unless @event.description.blank? && @event.start.blank? && (@event.notes.blank? || cannot?(:read_notes, @event)) %>

<% if @event.address || @event.coords %>
  <% coords = @event.coords(current_user) %>
  <section id="where"<%= "data-map=\"true\" data-lat=\"#{coords[0]}\" data-lng=\"#{coords[1]}\"".html_safe if coords %>>
    <%
      output = []
      output << content_tag(:small, "#{@event.distance_to(current_user).round(1)} kms away") if @event.coords && current_user.coords
      output << with_br(@event.address) if @event.address && can?(:read_specific_location, @event)
    %>
    <%= output.join('<br>').html_safe if output.any? %>
    <% if @event.coords %>
      <% content_for :js_ready do %>
        <% if cannot? :read_specific_location, @event %>
          $('.map').before('note: exact location and address shown only to attendees');
        <% end %>
      <% end %>
    <% end %>
  </section>
<% end %>

<%= end_cols %>