<% title @event.display_name %>

<% if can? :update, @event %>
  <%= link_to 'Edit', edit_event_path(@event) %>
<% end %>
<% if can? :destroy, @event %>
  <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% if current_user.has_role?(:participant) && !@event.past? && @event.coordinator != current_user %>
  <p><strong>
    <% if @event.participants.include? current_user %>
      <%= link_to 'Cancel RSVP', unattend_event_path(@event), method: :patch %>
    <% else %>
      <%= link_to 'Join', attend_event_path(@event), method: :patch %>
    <% end %>
  </strong></p>
<% end %>

<% if @event.description.present? %>
  <p><%= @event.description %></p>
<% end %>

<p><%= @event.when %></p>

<section>
  <h2>Coordinator</h2>
  <% if @event.coordinator %>
    <%= link_to_if can?(:read, @event.coordinator), @event.coordinator.display_name, @event.coordinator %>
  <% else %>
    None set.
  <% end %>
  <h2>Participants</h2>
  <% if @event.participants.any? %>
    <ul>
      <% @event.participants.each do |user| %>
        <li><%= link_to_if can?(:read, user), user.display_name, user %></li>
      <% end %>
    </ul>
  <% else %>
    <p>None yet.</p>
  <% end %>
</section>

<%= link_to 'All Events', root_path %>