<%
  tit = 'Who'
  if @event.cancelled?
    tit += ' Would Have Come'
  else
    tit += @event.past? ? ' Went' : '’s Coming'
  end
  title "#{tit} to ‘#{@event.display_name(current_user)}’"
%>

<% content_for :header do %>
  <%= link_to 'Event Details', @event %>
  <%= link_to('Edit Attendance', take_attendance: true) if @can_take_attendance && !@taking_attendance %>
  <%= link_to("Invite #{Configurable.participant.pluralize.titlecase}", invite: true) if @can_invite && !@inviting %>
<% end %>


<% if @taking_attendance %>
  <%= form_for @event, url: take_attendance_event_path(@event), method: :patch do |f| %>
    <fieldset class="users">
      <legend>Attendance</legend>
      Check those who attended.
      <% @event.event_users.where(status: EventUser.statuses_array(:attending, :attended, :no_show)).each do |eu| %>
        <label>
          <%= check_box_tag "attendance[#{eu.id}]", true, eu.attended? %>
          <%= render 'users/user', user: eu.user %>
        </label>
      <% end %>
    </fieldset>
    <%= submit 'Take Attendance' %>
  <% end %>
  <% content_for :js_ready do %>
    $('fieldset.users label:first')
      .before('<br>')
      .before($('<button type="button" class="default">Check All</button>').click(function(){
          $('fieldset.users input').prop('checked', true);
        })
      );
  <% end %>
<% end %>

<%# no need to tell coordinators they're attending, as they are listed already, right after this %>
<%= render('rsvp') unless @event.coordinator == current_user %>

<% if @show_invites || @inviting %>
  <section>
    <h2>Invitations</h2>

    <% if @num_invited > 0 %>
      <p><%= pluralize @num_invited, 'invitation' %> <%= 'is'.pluralize(@num_invited) %> awaiting a response.</p>
    <% end %>
    <% if @num_declined > 0 %>
      <p><%= pluralize @num_declined, 'invitation' %> <%= 'was'.pluralize(@num_declined) %> declined.</p>
    <% end %>

    <% if @inviting %>

      <%= form_for @event, url: invite_event_path(@event), method: :patch, html: {id: 'invite'} do |f| %>
        <h3>Invite <%= Configurable.participant.pluralize.titlecase %></h3>
        <label class="field">
          Invite the nearest <%= number_field_tag 'invite_near', 0, min: 0, max: @nearby, value: @suggested_invitations %>
          <%= Configurable.participant.pluralize %>.
        </label>
        <% nearby_virgin = User.not_involved_in_by_distance(@event).participated_in_no_events.count %>
        <% if nearby_virgin > 0 %>
          <%
            suggested_virgin = @suggested_invitations / 4
            suggested_invitations = nearby_virgin if suggested_virgin > nearby_virgin
          %>
          <label class="field">
            Invite the nearest <%= number_field_tag 'invite_near_virgin', 0, min: 0, max: nearby_virgin, value: suggested_virgin %>
            <%= Configurable.participant.pluralize %> who have not been to any events yet.
            <br><span class="hint" style="padding-left:0">may include some of the same people as above</span>
          </label>
        <% end %>
        <%= submit 'Invite' %>
        <%# todo: show preview map of nearest %>
      <% end %>

    <% end %>

<% end %>

<section>
  <h2>Coordinator</h2>
  <% if @event.coordinator %>
    <%= render 'users/user', user: @event.coordinator %>
  <% else %>
    None set.
  <% end %>
</section>


<% if @event.can_have_participants? && !@taking_attendance %>

  <section id="participants">
    <h2>
      <%= pluralize @event.participants.count, Configurable.participant.titlecase %>
      <% if @event.can_accept_participants? %>
        &ndash;
        <% if @event.participants_needed > 0 %>
          <%= @event.participants_needed %> More Needed
        <% elsif @event.full? %>
          Full
        <% else %>
          <%
            spots = @event.remaining_spots
            spots = 'Unlimited' if spots == true
          %>
          <%= pluralize spots, 'Spot' %> Left
        <% end %>
      <% end %>
    </h2>
    <% if @event.participants.any? %>
      <ul class="users">
        <% @event.participants.each do |user| %>
          <%= render 'users/user', user: user, tag: 'li' %>
        <% end %>
      </ul>
    <% else %>
      <p>None<%= ' yet' if !@event.past? %>.</p>
    <% end %>
  </section>

  <% if (current_user.has_role?(:admin) || current_user == @event.coordinator) && @event.approved? && !@event.past? && @event.waitlisted.any? %>
    <section id="waitlisted">
      <h2><%= @event.waitlisted.count %> Waitlisted</h2>
      <ul class="users">
        <% @event.waitlisted.each do |user| %>
          <%= render 'users/user', user: user, tag: 'li' %>
        <% end %>
      </ul>
    </section>
  <% end %>

<% end %>