<%
  tit = 'Who'
  if @event.cancelled?
    tit += ' Would Have Come'
  else
    tit += @event.past? ? ' Went' : '’s Coming'
  end
  title "#{tit} to ‘#{@event.display_name(current_user)}’"
%>

<% content_for :header do %>
  <%= link_to 'Event Details', @event %>

  <%# this is duplicated in who.html.erb %>
  <% if can?(:claim, @event) && !@event.cancelled? && !@event.past? %>
    <%= link_to 'Claim This Event', claim_event_path(@event), method: :patch %>
  <% elsif can?(:unclaim, @event) && @event.proposed? && @event.coordinator == current_user %>
    <%= link_to 'Unclaim This Event', unclaim_event_path(@event), method: :patch %>
  <% end %>

  <%= link_to('Edit Attendance', take_attendance: true) if @can_take_attendance && !@taking_attendance %>
<% end %>


<% if @taking_attendance %>
  <%= form_for @event, url: take_attendance_event_path(@event), method: :patch do |f| %>
    <fieldset class="users">
      <legend>Attendance</legend>
      Check those who attended.
      <% @event.event_users.where(status: EventUser.statuses_array(:attending, :attended, :no_show)).each do |eu| %>
        <label>
          <%= check_box_tag "attendance[#{eu.id}]", true, eu.attended? %>
          <%= render 'users/user', user: eu.user %>
        </label>
      <% end %>
    </fieldset>
    <%= submit 'Take Attendance' %>
  <% end %>
  <% content_for :js_ready do %>
    $('fieldset.users label:first')
      .before('<br>')
      .before($('<button type="button" class="default">Check All</button>').click(function(){
          $('fieldset.users input').prop('checked', true);
        })
      );
  <% end %>
<% end %>

<%# no need to tell coordinators they're attending, as they are listed already, right after this %>
<%= render('rsvp') unless (@event.coordinator == current_user) || @event.cancelled? %>

<% if @show_invites || @show_invite %>
  <section>
    <h2>Invitations</h2>
    <% if @num_invited > 0 %>
      <p><%= pluralize @num_invited, 'invitation' %> <%= 'is'.pluralize(@num_invited) %> awaiting a response (<%= Invitation.where(event_id: @event.id).count %> unsent).</p>
    <% end %>
    <% if @num_declined > 0 %>
      <p><%= pluralize @num_declined, 'invitation' %> <%= 'was'.pluralize(@num_declined) %> declined.</p>
    <% end %>
    <%= button_to("Invite #{Configurable.participant.pluralize.titlecase}", invite_event_path(@event), method: :patch) if @show_invite %>
<% end %>

<section>
  <h2><%= Configurable.coordinator.titlecase %></h2>
  <% if @event.coordinator %>
    <%= render 'users/user', user: @event.coordinator %>
  <% else %>
    None set.
  <% end %>
</section>


<% if @event.can_have_participants? && !@taking_attendance %>

  <section id="participants">
    <h2>
      <%= pluralize @event.participants.count, Configurable.participant.titlecase %>
      <% if @event.can_accept_participants? %>
        &ndash;
        <% if @event.participants_needed > 0 %>
          <%= @event.participants_needed %> More Needed
        <% elsif @event.full? %>
          Full
        <% else %>
          <%
            spots = @event.remaining_spots
            spots = 'Unlimited' if spots == true
          %>
          <%= pluralize spots, 'Spot' %> Left
        <% end %>
      <% end %>
    </h2>
    <% if @event.participants.any? %>
      <ul class="users">
        <% @event.participants.each do |user| %>
          <%= render 'users/user', user: user, tag: 'li' %>
        <% end %>
      </ul>
    <% else %>
      <p>None<%= ' yet' if !@event.past? %>.</p>
    <% end %>
  </section>

  <% if (current_user.has_role?(:admin) || current_user == @event.coordinator) && @event.approved? && !@event.past? && @event.waitlisted.any? %>
    <section id="waitlisted">
      <h2><%= @event.waitlisted.count %> Waitlisted</h2>
      <ul class="users">
        <% @event.waitlisted.each do |user| %>
          <%= render 'users/user', user: user, tag: 'li' %>
        <% end %>
      </ul>
    </section>
  <% end %>

<% end %>