<p>
  <strong>Title:</strong>
  <%= @agency.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @agency.description %>
</p>

<h2><%= Configurable.event.pluralize.titlecase %></h2>

<% if @agency.events.any? %>
	<%= render "events/events", events: @events %>
<% end %>

<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>
