<p>Hi <%= @event.coordinator.fname %>,</p>

<p>The <%= Configurable.event %> you scheduled, <%= link_to @event.display_name(@user), event_url(@event) %>, has been approved! Thank you for being so Supreme and signing up to lead this <%= Configurable.event %>.</p>

<p>Please note that we are counting on your to lead this <%= Configurable.event %> so if an emergency situation comes up and you are no longer available to do so, please contact us as soon as you can at <%= link_to '647-774-7425', 'tel:647-774-7425' %> or <%= mail_to 'picks@notfarfromthetree.org' %>.</p>

<%= render 'event', event: @event, user: @event.coordinator %>