<p><%= Configurable.event.indefinitize.capitalize %> you were attending, <%= link_to @event.display_name(@user), event_url(@event) %>, has been cancelled.<p>

<% if @event.cancel_description %>
  <strong>Cancellation reason:</strong>
  <%= paragraphs @event.cancel_description %>
<% end %>

<% if @event.cancel_notes && @user.ability.can?(:read_notes, @event) %>
  <strong>Notes for <%= Configurable.admin.pluralize %> and <%= Configurable.coordinator %>:</strong>
  <%= paragraphs @event.cancel_notes %>
<% end %>

<p>You can see all upcoming <%= Configurable.event.pluralize %> on the <%= link_to "#{Configurable.title} home page", root_url %>.</p>
