<p>Hi <%= @user.fname %>,</p>

<p>You are invited to attend the <%= Configurable.event %> <%= link_to @event.display_name(@user), event_url(@event) %>.<p>

<%= render 'event', event: @event, user: @user %>

<p>
  Please visit the <%= link_to "#{Configurable.event} page", event_url(@event) %> to sign up.
  Change what invitations you receive by <%= link_to 'editing your wards', my_wards_url %>.
</p>