<%
site_name = 'Event-Participant Manager'
%><!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= site_name %><%= ": #{yield :title}" if content_for :title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1><%= link_to site_name, root_path %></h1>
    <% if user_signed_in? -%>
      <div id="account">
        <%= link_to 'My Profile', current_user %> |
        <%= link_to 'Log out', destroy_user_session_path %>
      </div>
    <% end -%>
  </header>

  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name, id: 'flash' %>
  <% end -%>

  <div id="main">
    <%= content_tag(:h1, yield(:title)) if content_for :title %>
    <%= yield %>
  </div>

</body>
</html>